# Node modules
node_modules/

# Local environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Compiled or build output (optional)
dist/
build/
